<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <style>
        * {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }
        body {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(156, 174, 252);
        }
        .container {
          width: 50%;
          height: fit-content;
          padding: 50px;
          border-radius: 12px;
          background-color: #fff;
          box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        }
        .form-addCourse>input,
        .form-addCourse>select {
          margin: 5px 0px;
          padding: 5px;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          border: solid 1px gray;
        }
        form div {
          display: flex; 
          justify-content: center;
        }
        input[type=button], input[type=submit]{
          width: 100px;
          height: 30px;
          margin: 10px;
          border: none;
          border-radius: 5px;
          background-color: rgb(80, 118, 222);
        }
      </style>
</head>
<body>
    <div class="container">
        <div align="center">
            <h1>Add New Course</h1><br>
            <form action="/course/add" method="post">
                <p>
                    Name: <br>
                    <input type="text" name="name">
                </p><br>
                <p>
                    Description: <br>
                    <textarea type="text" name="description"></textarea>
                </p><br>
                <p>
                    Duration: <br>
                    <input type="number" name="duration">
                </p>
                <p>
                    Price: <br>
                    <input type="number" name="price">
                </p><br>
                <p>
                    Category: <br>
                    <select name="CategoryId">
                            <option disabled selected>--select category--</option>
                        <% categories.forEach(el => { %>
                            <option value="<%= el.id %>"><%= el.name %></option>
                        <% }) %>
                    </select>
                </p><br>
                <button type="submit">Add Course</button>
            </form><br>
            <a href="/home">Cancel</a>
        </div>
    </div>
</body>
</html>