<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
</head>
<style>
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(156, 174, 252);
    }
    .container {
      width: 50%;
      height: fit-content;
      padding: 50px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }
    .form-addCourse>input,
    .form-addCourse>select {
      margin: 5px 0px;
      padding: 5px;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: solid 1px gray;
    }
    form div {
      display: flex; 
      justify-content: center;
    }
    input[type=button], input[type=submit]{
      width: 100px;
      height: 30px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(80, 118, 222);
    }
  </style>
<body>
    <div class="container">
        <h1>Add Video for Course: <%= courses.name %></h1><br>

    <form class="form-addCourse" action="/course/<%= courses.id %>/add-video" method="post">
        <label>Link:</label><br>
            <input type="text" name="link">
        </p>
        <button type="submit">submit</button>
    </form><br>
    <a href="/course/<%= courses.id %>">back</a>
    </div>

</body>
</html>