<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div align="center">
            <h1>Welcome to NiruCademy</h1>
            <p>Enjoy your mastery for registered user!</p>
            <button style="background-color: rgb(59, 5, 167);"><a href="/login" style="color: white;">Login</a></button>
            <button style="background-color: rgb(59, 5, 167);"><a href="/register" style="color: white;">Register</a></button>  
        </div>
    </div>
</body>
</html>